<div>
<h1> Hey! <%= @student %></h1>
<p id="main_msg"> Here is a compliment to bright up your day </p>
<p class="compliment"><%= @compliment%></p>
</div>
<div>
<p>Share the LOVE..  </br>
  Create a your own compliment :) </p>

  <form action="/" method="post">
    <input name="compliment">
  </form>
</div>
